// header.scss

.me-auto {
    display: flex;
    justify-content: space-between; // Cân bằng các phần tử trong .me-auto1 và .me-auto2
    margin: 0; // Loại bỏ lề trắng bên ngoài
  }
  
  .me-auto1 {
    flex: 1; // Chiếm 1 phần
  }
  
  .me-auto2 {
    flex: 1; // Chiếm 1 phần
    display: flex;
    justify-content: center; // Căn giữa phần tử con
    
  }
  
  .me-auto3 {
    flex: 1; // Chiếm 1 phần
    display: flex;
    justify-content: flex-end; // Căn lề phải cho phần tử con
  }
  


  .nav-link {
    color: #333; // Màu chữ của liên kết
  }
  
  .nav-link:hover {
    color: #fff; // Màu chữ khi hover
    background-color: #007bff; // Màu nền khi hover
  }
  
  .navbar-brand {
    color: #007bff; // Màu chữ của brand
  }